* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Roboto', sans-serif;

  /* outline: 1px solid green; */

}

section{
  width: 100%;
  padding: 0 60px;
  color: rgba(51, 51, 51, 255);
text-align: center;
  
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 50px;

}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  



}

a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12pt;
  font-weight: 600;
  color: #95e1d3;
  text-align: center;
  }

  .menu {
    width: 40%;
    display: flex;

  }

  a:hover {
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
  }

  h3 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    font-size: 24pt;
    color: rgba(51, 51, 51, 255);
    text-align: center;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    color: rgba(51, 51, 51, 255);
    text-align: center;
  }

  h2::after {
    content: "";
    width: 100px;
    height: 2px;
    margin:auto;
    background-color: #f38181;
    display: block;
    margin-top: 20px;
    
  }

  .block {
    width: 33%;
    display: flex;
    margin-bottom: 70px;

  }

  .blockRight {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
color: rgba(51, 51, 51, 255);
text-align: left;
width: 80%;
  }
  .blockLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 10px;
  }

  h3{
    margin-bottom: 10px;
  }

  .bloki {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .block h4 {
    margin-bottom: 10px;
  }

.center {
  padding: 40px 120px;
}

.box img, .box h4 {
  margin-bottom: 10px;
}

.box {
  width: 380px;
  height: ;
  position: relative;
}
.blocki {
  display: flex;
  justify-content: space-between;
}

.boyFon {
  width: 380px;
  height: 470px;
position: absolute;
top: -10px;
left: -10px;
opacity: 0.8;
display: none;
}
.boy:hover .boyFon {

  display: flex;

  
}

.ikonki {
display: flex;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

}

.icon1, .icon2, .icon3, .icon4 {

  width: 50px;
  height: 50px;
  background-color: #fce38a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #e19c7b;
  

}


.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover {
  background-color: #95e1d3;
}
